header {
  max-width: 70%;
  height: 27vh;
  @include flex;
  margin: 0 auto;
  padding: 0 4%;

  h1 {
    line-height: 1px;

    a {
      display: block;
    }
  }

  ul {
    display: flex;
    padding: 1% 0;

    li {
      font-size: 0.9rem;
      margin-left: 3vw;
      // %でやるとうまくいかない時はvw,vhで行うこと

      a:hover {
        opacity: 0.7;
      }
      
      img.icon {
        width: 20px;
      }
    }
  }
}