#news {
  dl {
    @include flex;
    flex-wrap: wrap;
    border-top: solid 1px $gray;

    dt {
      width: 20%;
      padding: 1.5% 0;
      border-bottom: solid 1px $gray;
    }

    dd{
      width: 80%;
      padding: 1.5% 0;
      border-bottom: solid 1px $gray;
    }
  }
}